{% extends 'base.html' %}

{% block content %}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
            <div class="col">
                <canvas id="tempChart"></canvas>
                <div id="tempChartOverlay" class="chart-overlay">
                    <p class="placeholder-glow">
                        <span class="placeholder placeholder-xs">~~.~~</span>
                    </p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-thermometer-half chart-overlay-icon" viewBox="0 0 16 16">
                    <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415"/>
                    <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1"/>
                </svg>
            </div>
            <div class="col">
                <canvas id="humiChart"></canvas>
                <div id="humiChartOverlay" class="chart-overlay">
                    <p class="placeholder-glow">
                        <span class="placeholder placeholder-xs">~~.~~</span>
                    </p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-droplet-half chart-overlay-icon" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                </svg>
            </div>
          </div>
    </div>
</main>

<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/chart.umd.js') }}" ></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}" ></script>
{% endblock %}